.button {
	margin-top: 1em;
	height: 2em;
	font-size: large;
	position: relative;
	color: white;
	background-color: #fba04c;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}
