.DisplayLocations {
	margin: 1em 1em;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
	text-align: center;
	max-width: available;
	min-width: fit-content;
}
.container {
	color: black;
	border: 1px solid black;
	height: 5em;
	background-color: #b6d5e1;
	padding: 2em;
	transition: transform 0.5s;
}

.container:hover {
	transform: scale(1.05);
}

.button {
	margin-top: 1em;
	height: 2em;
	font-size: large;
	position: relative;
	color: white;
	background-color: #65799b;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}


