.DisplayUsers {
	margin: 1em 1em;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
	text-align: center;
	max-width: available;
	min-width: fit-content;
}
.UserCardContainer {
	color: black;
	border: 1px solid black;
	height: 5em;
	background-color: #a0f8a4;
	padding: 2em;
	transition: transform 0.5s;
}

.UserCardContainer:hover {
	transform: scale(1.05);
}
