.UserCardContainer {
	color: black;
	border: 1px solid black;
	height: 5em;
	background-color: #a0f8a4;
	padding: 2em;
	transition: transform 0.5s;
}

.UserCardContainer:hover {
	transform: scale(1.05);
}
